---
layout: default
---

<div class="home_page">


    <img class="home_logo" src="../assets/logos/Low Res PNGs/Mycelium_Logo_Final_NoFill_White.png"/>

    <div class="home_tree">
        <script src="./assets/javascript/tree.js"></script>
    </div>

    {% for student in site.students %}
        {% include assign.html %}

        <a href="{{ student_url }}" id="student{{ forloop.index }}">
            {% if student_displayName %}
                {{ student_displayName }}
            {% else %}
                {{ student_name }}
            {% endif %}
        </a>
    {% endfor %}
</div>