---
layout: default
---
{% include navigation.html %}

<div class="home_page">


    <img class="home_logo" src="../assets/logos/Low Res PNGs/Mycelium_Logo_Final_NoFill_White.png"/>

    {% for student in site.students %}

        {% include assign.html %}






            <a href="{{ student_url }}">
                {% if student_displayName%}
                    {{ student_displayName }}
                {% else %}
                    {{ student_name }}
                {% endif %}
            </a>





            


    {% endfor %}
</div>