<nav class="navigation">

    <div class="nav-logo">
        <img src="../assets/logos/Low Res PNGs/Mycelium_Logo_Mark-01.png"/>
    </div>
  
    <div class="nav-button_container">
        {% for item in site.data.navigation %}
  
        {% assign page_name = item.name | slugify %}
  
        <a href="{{ site.url }}{{ item.link }}" class="nav-button {% if page.url == item.link or (item.name == "home" and page.url == "/") %}current{% endif %}" id="{{ page_name }}">
        {{ item.name }}
        </a>
        {% endfor %}
  
    </div>
  
  </nav>