<nav class="navigation">

    <a class="nav_logo" href="/index.html">
        <img src="../assets/logos/Low Res PNGs/Mycelium_Logo_Mark-02.png"/>
    </a>
  
    <div class="nav_button-container">
        {% for item in site.data.navigation %}
  
        {% assign page_name = item.name | slugify %}
  
        <a href="{{ site.url }}{{ item.link }}" class="nav_button {% if page.url == item.link or (item.name == "home" and page.url == "/") %}current{% endif %}" id="{{ page_name }}">
        {{ item.name }}
        </a>
        {% endfor %}
  
    </div>
  
  </nav>