.about{
    width: 100%;
    margin: auto;
    padding-left: 10% ;
    padding-right: 10% ;
    padding-top: 12%;
    top: 10%;
    left: 0;
    object-fit: contain;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
    position: absolute;
}
.wrapper {
    transform: scale(0.53);
    margin: 0 auto;
    width: 100%;
    max-height: 100%;
    height: auto;
    position: absolute;
    align-items: center;
    justify-content: center;
}

@media (max-width:600px) {
    .about {
        padding: 0%;
        margin: 5%;
        width: auto;
    }


}