.default-container {
	position: relative;
}

.loading {
    max-width: 100vw;
    overflow-x: hidden;
    position: relative;
}

.hidden {
	position: absolute;
	// overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


.directory-intro {
	max-width: 80vw;
    margin: 8vh auto;
    position: relative;
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	h1 {
		margin-bottom: 4vh;
		z-index: 9999;
	}

	.description {
		margin: 20px 0;
	}

    .student_tags {
      position: relative;
      display: flex;
      flex-wrap: wrap;

		.sort {
			position: absolute;
			top: 2px;
			font-family: $magneta;
			font-weight: $magneta_semibold;
			font-size: 24px;
		}

		.tag-img {
			width: 8vw;
			max-width: 100px;
			height: auto;
			max-height: 8vh;
			position: fixed;
			right: 2vw;
			top: calc(2vh + 60px);
			display: flex;
			justify-content: flex-end;
			object-fit: contain;
			z-index: 9999;
			filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7492%) hue-rotate(344deg) brightness(112%) contrast(107%);
			display: none;
		}

		.tag-word {
			font-size: 20px;
			margin-left: 12px;
			position: absolute;
			top: 0;
			left: 160px;
			display: none;
			white-space: nowrap;
			background: $green;
			width: 400px;
		}

		.tag {
			position: relative;
			top: 40px;
			width: auto;
			height: auto;
			display: flex;
			overflow: hidden;
			transition: ease 0.2s;
			cursor: pointer;

			img {
				-drag: none;
				user-select: none;
				-moz-user-select: none;
				-webkit-user-drag: none;
				-webkit-user-select: none;
				-ms-user-select: none;
				max-width: 28px;
				max-height: 28px;
			}

			&:hover {
				background: $yellow;

				.tag-word {
					display: block;
				}
			}
		}

		#other.tag {
			display: none;
		}

		#reset-button {
			font-size: 16px;
			font-family: $articulat-cf;
			color: $white;
			position: relative;
			top: 45px;
			left: 8px;
			display: none;
			cursor: pointer;
		}
    }
}

.selected {
	background: $yellow;
}

.js .loading::before {
	content: '';
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $white;
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1001;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	pointer-events: none;
	border-radius: 50%;
	background: $white;
	animation: loaderAnim 0.8s ease-out infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		transform: scale3d(0.5,0.5,1);
	}
}

// main {
// 	overflow: hidden;
// }

.content--grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 100px 60px;
	padding: 8vh 4vw 12vh 4vw;
}

.item {
	flex-basis: 22%;
	position: relative;
	min-width: 350px;
	width: 400px;
	max-width: 80%;
	max-height: 400px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	grid-column: span;

	a {
		height: 100%;
	}


	// &>*:not(.item__meta) {
	// 	bottom: 100px;
	// }
}

// .item:nth-of-type(even) {
// 	margin: 0 auto 0 0;
// }

.item__svg {
	position: relative;
	display: block;
	width: 80%;
	height: auto;
	min-height: 380px;
	margin: 0 auto;
}

.item__clippath,
.item__deco,
.item__img {
	transform-origin: 50% 50%;
}

.item__meta {
	position: absolute;
	top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-end;
	align-items: flex-end;
	width: 100%;
	height: 100%;
}

.item__title {
	font-size: 28px;
	width: 100%;
	margin: 1em 0 0 0;
	text-align: center;
	letter-spacing: 0.125em;
	color: $white;
}

.item__subtitle {
	font-size: 20px;
	font-weight: 400;
	margin: 0 12px 0 0;
	text-align: center;
	letter-spacing: 2px;
	opacity: 0;
	display: flex;
	flex-flow: column wrap;
	align-items: center;

	& .tag-list {
		color: $dark-green;
		background: $dark-green;
		border-radius: 20px;
		font-size: 16px;
		font-family: $articulat-cf;
		font-weight: $articulat-light;
		width: fit-content;
		height: 29px;
		padding: 2px 4px 3px 12px;
		margin: 8px;
		display: flex;
		align-items: center;
		white-space: nowrap;


		.tag-icon  {
			max-width: 20px;
			max-height: 20px;
			margin-right: 8px;
			object-fit: contain;
			filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7492%) hue-rotate(344deg) brightness(112%) contrast(107%);
		}
	}
}

div .item .item--style-6 {
	bottom: 200px;
}

/* Individual styles */
.item--style-1 {
	bottom: random($limit: 120) + px;
	// left: random($limit: 40) + px;


	&:nth-child(2) {
		bottom: random($limit: 40) + px;
	}

	.item__deco {
		fill: $dark-green;
	}
}

.item--style-2 {
	bottom: random($limit: 120) + px;

	.item__deco {
		fill: $dark-green;
	}
}

.item--style-3 {
	bottom: random($limit: 120) + px;

	.item__deco {
		fill: $dark-green;
	}
}

.item--style-4 {
	bottom: random($limit: 120) + px;

	.item__deco {
		fill: $dark-green;
	}
}

.item--style-5 {
	bottom: random($limit: 120) + px;

	&:nth-child(3) {
		bottom: random($limit: 20) + px;
	}

	.item__deco {
		fill: $dark-green;
	}
}

.item--style-6 {
	bottom: random($limit: 120) + px;

	.item__deco {
		fill: $dark-green;
	}
}

.item--style-7 {
	bottom: random($limit: 120) + px;

	.item__deco {
		fill: $dark-green;
	}
}

.item--style-8 {
	bottom: random($limit: 120) + px;

	.item__deco {
		fill: $dark-green;
	}
}

.item--style-9 {
	bottom: random($limit: 120) + px;

	.item__deco {
		fill: $dark-green;
	}
}
@media screen and (max-width:750px) {
	body{
    font-size:10px;

    }
