.home_logo {
    max-width: 33%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: contain;
    transform: translate(-50%, -50%);
   
    z-index: 3;
}

.home_page {
    height: 100vh;
    width: 100vw;
}


.home_page a {
    transform: translate(-50%, -50%);
    transition: ease .2s;

    &:hover {
        transform: translate(-50%, -50%) scale(1.1);
    }
}







