.home_logo {
    width: 1000px;
    max-width: 33%;
    // position: absolute;
    // top: 5%;
    // left: 50%;
    object-fit: contain;
    // transform: translate(-50%, 0);
    z-index: 1;
    // background-color: $green;
}

.home_info {
    width: 70%;
    margin: 0 15%;
    position: absolute;
    top: 20%;
    left: 0;
    object-fit: contain;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.home_branches {
    width: 1000px;
    max-width: 33%;
    position: absolute;
    top: 38%;
    left: 50%;
    object-fit: contain;
    transform: translate(-50%, 0);
    z-index: 1;
}
.home_names {
    width: 70%;
    margin: 0 15%;
    position: absolute;
    bottom: 20%;
    left: 0;
    object-fit: contain;
    z-index: 1;

    p {
        text-align: justify;
        text-justify: inter-word;
    }
}









#defaultCanvas0 {
    max-height: 50vh;
    max-width:50vw;
    display: block;
    position: absolute;
    top: 28vh;
    left: 25vw;
    transform: rotate(180deg);
    margin: 0 auto;
    z-index: -1;
}

.wrapper{
    min-width: 100vw;
    max-height: 100vh;
    bottom: 0%;
    left: 0%;
    // display: grid;
    // place-items: center;
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg{
    margin: 0 auto;
    width: 100%;
    max-height: 100%;
    height:auto;
    transition: 3s ease;
    transform: scale(1);
}