.student_page {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    padding: 15vh 15vw;

    .student_content {
        max-width: 70vw;
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        position: relative;

        .student_info-container {
            max-width: 45%;
            height: 100%;
            position: relative;

            .student_tags {
                margin: 16px 0;
                display: flex;
                flex-wrap: wrap;
            }
            
            .student_projectDesc { 
                position: relative;
                text-align: left;

                &::-webkit-scrollbar {
                    width: 8px; 
                    background-color: $white; 
                    position: absolute;
                    left: 0; 

                    display: none;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $white; 
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-track {
                    background-color: $green; 
                }
            }
        }

        .student_image-container {
            max-width: 45%;
            height: 100%;
            border-radius: 20px;
            position: relative;
        
        
            .slick-list {
                // padding: 0 !important;
                // overflow: hidden !important;
                border-radius: 20px;
                display: flex;
                align-items: center;
                min-width: 100%;
            }
        
            .slick-track {
                display: flex;
                align-items: center;
            }
            
            img {
                width: 100%;
                max-width: 100%;
                object-fit: contain;
                border-radius: 20px;
                padding: 4px;
            }

            &:hover {
                cursor: zoom-in;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }  
    }
}




.student_connections {
    top: 0;
    position: absolute;
    color: $sand;
}

#connection1 {
    right: 56%;
    top: 100px;
}

#connection2 {
    right: 32%;
    top: 100px;
}

#connection3 {
    right: 8%;
    top: 110px;
}

#connection4 {
    top: 100px;
    left: 8%
}

#connection5 {
    top: 30vh;
    left: 2%;
}

#connection6 {
    top: 48vh;
    left: 4%;
}