*,
*::after,
*::before {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    max-width: 100vw;
    min-height: 100vh;

    &::-webkit-scrollbar {
        background: $white; 
        width: 8px; 

        display: none;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $pale-green; 
        border-radius: 4px;
    }
    
    &::-webkit-scrollbar-track {
        background: $dark-green; 
    }
}

.default-container {
    min-height: 100vh;
    overflow: hidden;
    padding: 0 !important;
    margin: 0;
}

.home_page {
    max-height: calc(100vh - 60px);
}

body {
    background: $green;
}

h1{
    font-family: $magneta;
    font-weight: $magneta_black;
    color: $white;
}

h2 {
    font-family: $magneta;
    font-weight: $magneta_black;
    color: $white;
    font-size: 40px;
    font-style: italic;
}

h3 {
    font-family: $magneta;
    font-weight: $magneta_semibold;
    color: $white;
    font-size: 24px;
}

p {
    font-family: $articulat-cf;
    color: $white;
    font-size: 18px;
}

li {
    font-family: $articulat-cf;
    color: $white;
    font-size: 18px;
}

a {
    color: $white;
    text-decoration: none;
    font-family: $articulat-cf;
}


.tag {
    color: $dark-green;
    background: $sand;
    border-radius: 20px;
    font-size: 16px;
    font-family: $articulat-cf;
    font-weight: $articulat-light;
    width: fit-content;
    height: 29px;
    padding: 2px 12px 3px;
    margin: 0 8px 8px 0;
    display: flex;
    align-items: center;
    white-space: nowrap;


    .tag-icon  {
        max-width: 20px;
        max-height: 20px;
        object-fit: contain;
        filter: brightness(0) saturate(100%) invert(23%) sepia(11%) saturate(5377%) hue-rotate(116deg) brightness(95%) contrast(101%);
    }

    .tag-word {
        margin-left: 8px;
    }
}

