body {
    background: $green;
}

h2 {
    font-family: $magneta;
    font-weight: $magneta_black;
    color: $white;
}

h3 {
    font-family: $magneta;
    font-weight: $magneta_semibold;
    color: $white;
}

p {
    font-family: $articulat-cf;
    color: $white;
}

a {
    color: $white;
    text-decoration: none;
    font-family: $articulat-cf;
}