---
layout: default
---
<!-- DON'T EDIT ANY OF THE CODE BETWEEN THESE COMMENTS -->
{% include navigation.html %}
{% assign counter = 1 %}
{% for student in site.students %}
    {% include assign.html %}
    {% if page.url contains student_id %}
<!-- DON'T EDIT ANY OF THE CODE BETWEEN THESE COMMENTS -->

    <h2 class="student_name">{{ student_name }}</h2>
    <h3 class="student_projectName">{{ student_projectName }}</h3>

    <p>
        {%- for tag in student_tag -%}
            {% assign tag_class = tag | slugify %}
                <span class="tag {{ tag_class }}">{{ tag }}</span>
        {%- endfor -%}
    </p>

    <p class="student_projectDesc">{{ student_projectDesc }}</p>


    <a class="student_email" href="mailto:{{student_email}}" target="_blank">{{ student_email }}</a>

    <a class="student_insta" href="{{student_instagramLink}}" target="_blank">@{{ student_instagram }}</a>

    <a class="student_website" href="{{student_websiteLink}}" target="_blank">{{ student_website }}</a>

    <a class="student_website" href="{{student_socials}}" target="_blank">{{ student_socials }}</a>












<!-- DON'T EDIT ANY OF THE CODE BETWEEN THESE COMMENTS -->
    {% endif %}

    {% assign common_tags = "" %}
    {% for tag in student.tags %}
        {% if page.tags contains tag %}
            {% capture common_tags %}{{ common_tags }}{{ tag }}, {% endcapture %}
        {% endif %}
    {% endfor %}

    {% if student != page and common_tags != "" %}
        <a class="page_connections" id="connection{{counter}}" href="{{ student.url }}">{{ student.title }}</a>
        {% assign counter = counter | plus: 1 %}
    {% endif %}
{% endfor %}
<!-- DON'T EDIT ANY OF THE CODE BETWEEN THESE COMMENTS -->
