---
layout: default
---
{% include navigation.html %}

<div class="student_page">
{% assign counter = 1 %}
{% assign studentCounter = 1 %}

{% for student in site.students %}
    {% assign studentCounter = studentCounter | plus: 1 %}

    {% include assign.html %}
    {% if page.url contains student_id %}
<!-- DON'T EDIT ANY OF THE CODE ABOVE THIS COMMENT -->












    <div class="student_content">
        <section class="student_info-container">
            

            <h2 class="student_projectName">{{ student_projectName }}</h2>

            <h3 class="student_name">
                {{ student_name }}
            </h3>
            
            <p>
                {%- for tag in student_tag -%}
                    {% assign tag_class = tag | slugify %}
                        <span class="tag {{ tag_class }}">{{ tag }}</span>
                {%- endfor -%}
            </p>
            
            <div class="student_description">
                <p class="student_projectDesc">{{ student_projectDesc }}</p>
            </div>
            

            <a class="student_email" href="mailto:{{student_email}}" target="_blank">{{ student_email }}</a>
            <br>
            <a class="student_website" href="{{student_websiteLink}}" target="_blank">{{ student_website }}</a>
            <br>
            <a class="student_insta" href="{{student_instagramLink}}" target="_blank">@{{ student_instagram }}</a>
            <br>
            <a class="student_website" href="{{student_socials}}" target="_blank">{{ student_socials }}</a>
        </section>

        <section class="student_image-container">
            <img data-enlargable src="{{ student_image1 }}">
            <img data-enlargable src="{{ student_image2 }}">

            {% if student_image3 != "" %}
                <img data-enlargable src="{{ student_image3 }}">
            {% endif %}
        </section>
    </div>









<!-- DON'T EDIT ANY OF THE CODE BELOW THIS COMMENT -->
    {% endif %}

    {% assign common_tags = "" %}
    {% for tag in student.tags %}
        {% if page.tags contains tag %}
            {% capture common_tags %}{{ common_tags }}{{ tag }}, {% endcapture %}
        {% endif %}
    {% endfor %}

    {% if student != page and common_tags != "" %}
        <a class="student_connections" id="connection{{counter}}" href="{{ student.url }}">
            {{ student_projectName }}
        </a>
        {% assign counter = counter | plus: 1 %}
    {% endif %}
{% endfor %}
</div>



<script>
   $('img[data-enlargable]').addClass('img-enlargable').click(function(){
    var src = $(this).attr('src');
    $('<div>').css({
        background: 'RGBA(0,0,0,.5) no-repeat center',
        backgroundSize: 'contain',
        width:'100%', 
        height:'100%',
        position:'fixed',
        zIndex:'10000',
        top:'0', left:'0',
        cursor: 'zoom-out',
        display: 'flex',
        justifyContent: 'center',
    }).append($('<img>').attr('src', src).css({
        maxHeight: '90%', /* Add this to limit the maximum height to 90% */
        display: 'block',
        margin: 'auto',
        cursor: 'zoom-out'
    })).click(function(){
        $(this).remove();
    }).appendTo('body');
    });

</script>